@font-face {
  font-family: "releway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  box-sizing: border-box;
  font-family: "rubik", Montserrat, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  min-height: 100%;
  background-color: #ffffff;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.clear-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.container {
  max-width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.header-container {
  box-sizing: border-box;
  margin-top: 40px;
  padding: 46px 60px;
  width: 100%;
  background-color: #ffe17f;
}

.header-logo {
  top: 20px;
  position: absolute;
  color: #000000;
  border: 2px solid transparent;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:focus {
  outline: 2px solid #af4fff;
}

.header-logo:active {
  opacity: 0.3;
}

.header-search-form {
  display: flex;
}

.header-search-input {
  position: relative;
  width: 369px;
  padding: 10px 20px 10px 48px;
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: 16px 12px;
  border-radius: 50px 0 0 50px;
}

.header-search-input:focus {
  outline: 2px solid #ffffff;
}

.header-search-input:focus::before {
  content: "";
  position: absolute;
  top: -4px;
  right: -4px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border-radius: none;
  border: none;
  outline: none;
  box-shadow: 0 0 0 2px #af4fff;
}

.header-search-button {
  z-index: 2;
  position: relative;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 10px 56px;
  margin: 0;
  margin-left: -2px;
  border-radius: 0 50px 50px 0;
  border: 2px solid #000000;
  background-color: transparent;
  cursor: pointer;
}

.header-search-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.header-search-button:focus {
  outline: 2px solid #ffe17f;
}

.header-search-button:focus::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: -4px;
  right: -4px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border-radius: none;
  border: none;
  outline: none;
  box-shadow: 0 0 0 2px #af4fff;
}
/*
.header-search-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.header-search-button:hover {
  color: #ffffff;
  background-color: #000000;
} */
