@font-face {
  font-family: "releway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "rubik", "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  color: #444444;
}

.index-main {
  flex: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clear-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  margin: 0;
  padding: 0;
  font-family: "releway", "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.description {
  margin: 0;
}

.button {
  position: relative;
  display: block;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.button::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffe17f;
  transition: all 0.3s ease;
}

.button-text {
  position: relative;
  font-family: "releway", "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  margin: 0;
  text-transform: uppercase;
}

.button:hover::before {
  height: 100%;
}

.button:focus {
  border: none;
  outline: 2px solid #af4fff;
}

.button:active::before {
  background: #ffcc33;
}

.button:disabled {
  opacity: 0.3;
  cursor: default;
}

.button:disabled::before {
  height: 8px;
}

.header-logo {
  display: block;
  color: #000000;
  width: 145px;
  height: 36px;
  margin-top: 20px;
  margin-left: 60px;
  transition: opacity 0.3s ease;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:focus {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.header-logo:active {
  opacity: 0.3;
}

.header-container {
  margin-top: -16px;
  padding: 46px 60px 29px;
  background-color: #ffe17f;
}

.header-search-form {
  display: flex;
  margin-right: 26px;
}

.header-search-label:focus-within {
  outline: 2px solid #ffe17f;
  box-shadow: 0 0 0 4px #af4fff;
  z-index: 1;
}

.header-search-input {
  width: 359px;
  padding: 8px 20px 8px 46px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
  background: url("../images/icons/search.svg") no-repeat 15px 10px;
  border-radius: 50px 0 0 50px;
}

.header-search-input:focus {
  outline: none;
}

.header-search-input::placeholder {
  color: #000000;
  opacity: 0.3;
}

.header-search-input:disabled {
  opacity: 0.3;
}

.header-search-button {
  position: relative;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 8px 54px;
  margin: 0;
  margin-left: -2px;
  border-radius: 0 50px 50px 0;
  border: 2px solid #000000;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-search-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.header-search-button:focus {
  outline: 2px solid #ffe17f;
}

.header-search-button:focus::before {
  content: "";
  position: absolute;
  top: -4px;
  right: -4px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border-radius: 0;
  border: none;
  outline: none;
  box-shadow: 0 0 0 2px #af4fff;
}

.header-search-button:disabled {
  opacity: 0.3;
  cursor: default;
}

.header-user-menu-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 41px;
}

.user-navigation {
  width: 100%;
}

.user-navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.user-navigation-item {
  position: relative;
}

.user-navigation-item:not(:last-child) {
  margin-right: 16px;
}

.user-navigation-item:first-child {
  margin-right: 29px;
}

.user-navigation-item:nth-last-child(2) {
  margin-left: auto;
}

.user-navigation-link {
  padding: 10px 0;
  text-decoration: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  transition: opacity 0.3s ease;
}

.user-navigation-link:hover {
  opacity: 0.6;
  animation: car 1.2s;
}

.user-navigation-link:focus {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.user-navigation-link:active {
  opacity: 0.3;
}

.icon-user {
  padding-left: 27px;
  background: url("../images/icons/user.svg") no-repeat 0 50%;
}

.icon-compate {
  padding-left: 20px;
  background: url("../images/icons/compare.svg") no-repeat 0 50%;
}

.icon-cart {
  padding-left: 46px;
  background: url("../images/icons/cart.svg") no-repeat 19px 12px;
}

.user-exit-item {
  margin: 0;
}

.user-exit {
  color: #b39e59;
  opacity: 1;
}

.user-exit:hover {
  color: #665a33;
  opacity: 1;
}

.amount-cart {
  position: absolute;
  top: 5px;
  left: 2px;
  font-family: inherit;
  padding: 3px 7px 2px 7px;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  background-color: #ffffff;
  border-radius: 14px;
}

.user-navigation-item:focus-within .card {
  display: block;
}

.card {
  display: none;
  z-index: 4;
  position: absolute;
  transform: translateX(-50%);
  left: 37px;
  top: 35px;
  width: 320px;
  min-height: 134px;
  background-color: #000000;
}

.card::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 12px;
  height: 12px;
  background-color: #000000;
}

.card-item {
  display: flex;
  padding: 20px;
}

.card-item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.card-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-decoration: none;
  border: 2px solid transparent;
  margin-top: -2px;
  margin-left: -2px;
  transition: opacity 0.3s ease;
}

.card-link:hover {
  opacity: 0.6;
}

.card-link:focus {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.card-link:active {
  opacity: 0.3;
}

.card-img {
  margin-right: 23px;
}

.card-titile {
  font-family: inherit;
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
  font-weight: 400;
  width: 170px;
  margin: 0;
}

.card-delete-button {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border: none;
  background: none;
  align-self: flex-start;
  width: 10px;
  height: 10px;
  transition: opacity 0.3s ease;
}

.card-delete-button::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.card-delete-button::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #ffffff;
  transform: rotate(-45deg);
}

.card-delete-button:hover {
  opacity: 0.6;
}

.card-delete-button:focus {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.card-delete-button:active {
  opacity: 0.3;
}

.card-delete-button:disabled {
  opacity: 0.1;
  cursor: default;
}

.card-total {
  font-family: inherit;
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
  padding: 20px;
  margin: 0;
}

.card-button {
  display: block;
  text-align: center;
  background-color: #ffffff;
  font-family: "releway", "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  padding: 14px 0;
  letter-spacing: 0.2em;
  margin: 20px;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #ffe17f;
}

.card-button:focus {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.card-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  position: relative;
  display: flex;
  z-index: 3;
}

.catalog-navigation-wrapper {
  min-width: 320px;
}

.drop-menu-wrapper {
  display: none;
  position: absolute;
  flex-wrap: wrap;
  top: calc(100% + 18px);
  left: -60px;
  background-color: #ffe17f;
  padding: 6px 60px 26px;
  width: 1160px;
}

.catalog-navigation-wrapper:focus-within .drop-menu-wrapper {
  display: flex;
}

.drop-menu-list {
  margin-bottom: 30px;
}

.drop-menu-list:not(:last-child) {
  margin-right: 52px;
}

.drop-menu-list:nth-child(2) {
  margin-right: 12px;
}

.drop-menu-item {
  width: 200px;
}

.drop-menu-item:not(:last-child) {
  margin-bottom: 18px;
}

.drop-menu-link {
  display: block;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  border: 2px solid transparent;
  margin-left: -2px;
  margin-top: -2px;
  transition: opacity 0.3s ease;
}

.drop-menu-link:hover {
  opacity: 0.6;
}

.drop-menu-link:focus {
  border: 2px solid transparent;
  outline: 2px solid #af4fff;
}

.drop-menu-link:active {
  opacity: 0.3;
}

.company-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.company-navigation-item:not(:last-child) {
  margin-right: 49px;
}

.navigation-link {
  font-family: "releway", "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  padding: 6px 0;
  letter-spacing: 0.2em;
  margin-right: -0.2em;
  transition: opacity 0.3s ease;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:focus {
  border: none;
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link-active {
  border-bottom: 2px solid #000000;
}

.catalog-navigation-link {
  padding: 15px 67px 15px 0;
  background: url("../images/icons/catalog-plus.svg") no-repeat right 50%;
}

.catalog-navigation-link:hover {
  opacity: 1;
  background: url("../images/icons/catalog-minus-opacity.svg") no-repeat right 50%;
}

.catalog-navigation-link:focus-within {
  opacity: 1;
  background: url("../images/icons/catalog-minus.svg") no-repeat right 50%;
}

.slider {
  margin-bottom: 70px;
}

.slider-content-list {
  position: relative;
}

.slider-content-item {
  display: none;
}

.slider-content-item-current {
  display: flex;
}

.slider-control-arrows {
  position: absolute;
  width: 560px;
  z-index: 3;
}

.slider-button {
  position: absolute;
  top: 175px;
  left: 20px;
  width: 20px;
  height: 60px;
  padding: 20px;
  cursor: pointer;
  border: none;
  background: transparent url("../images/icons/slider-button-arrow.svg") no-repeat 50% 50%;
  transition: opacity 0.3s ease;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-button:disabled {
  opacity: 0.1;
  cursor: default;
}

.button-next {
  left: auto;
  right: -10px;
  transform: rotate(180deg);
}

.slider-image {
  position: relative;
  z-index: 2;
  min-width: 50%;
  display: block;
  margin-top: -36px;
  padding: 0 20px 0 0;
}

.slider-content-wrapper {
  position: relative;
  z-index: 2;
  min-width: 50%;
  padding: 86px 0 0 20px;
}

.slider-number-wrapper {
  position: absolute;
  z-index: 1;
  width: 1160px;
  height: 114px;
  background-color: #ffe17f;
}

.slider-number {
  position: absolute;
  right: 48px;
  top: 47px;
  font-family: inherit;
  font-size: 180px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.slider-title {
  margin-bottom: 29px;
}

.slider-wrapper-description {
  margin-bottom: 45px;
}

.slider-description:not(:last-child) {
  margin-bottom: 20px;
}

.slider-button-more {
  width: 220px;
  margin-bottom: 44px;
}

.slider-details {
  display: flex;
  flex-wrap: wrap;
}

.slider-details-group {
  max-width: 170px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0;
}

.slider-details-group:not(:last-child) {
  margin-right: 20px;
}

.details-description {
  order: 1;
  margin: 0;
  font-family: inherit;
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 12px;
  color: #000000;
}

.details-title {
  order: 2;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

.slider-control-dots {
  position: relative;
  z-index: 3;
  margin-top: -12px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.control-dots-item:not(:last-child) {
  margin-right: 20px;
}

.control-dots-button {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.control-dots-button:hover {
  opacity: 0.6;
}

.control-dots-item:focus-within {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.control-dots-button:focus {
  outline: none;
}

.control-dots-button:active {
  opacity: 0.3;
}

.control-dots-button:disabled {
  opacity: 0.1;
  cursor: default;
}

.control-dots-button-current {
  background-color: #000000;
  cursor: default;
}

.control-dots-button-current:hover {
  opacity: 1;
}

.product-navigation {
  margin-bottom: 83px;
}

.product-navigation-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
}

.product-navigation-link {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "releway", "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
}

.product-navigation-link:hover .product-icon {
  background-color: #ffc700;
  transform: translateY(2px);
}

.product-navigation-link:focus {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.product-navigation-link:active {
  opacity: 0.3;
}

.product-icon {
  width: 160px;
  height: 160px;
  margin-bottom: 32px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.icon-virtual-reality {
  background: #ffe17f url("../images/icons/virtual-reality.svg") no-repeat 50% 50%;
}

.icon-monopod {
  background: #ffe17f url("../images/icons/monopod.svg") no-repeat 50% 100%;
}

.icon-action-cameras {
  background: #ffe17f url("../images/icons/action-cameras.svg") no-repeat 50% 50%;
}

.icon-fitnes-bracelets {
  background: #ffe17f url("../images/icons/fitness-bracelets.svg") no-repeat 50% 50%;
}

.icon-smart-watch {
  background: #ffe17f url("../images/icons/smart-watch.svg") no-repeat 50% 50%;
}

.icon-quadrocopter {
  background: #ffe17f url("../images/icons/quadrocopter.svg") no-repeat 50% 50%;
}

.information {
  background: linear-gradient(transparent 102px, transparent 102px, #f0f0f0 102px);
  padding-bottom: 72px;
  margin-bottom: 70px;
}

.information-block-wrapper {
  display: flex;
  align-content: center;
}

.information-menu-wrapper {
  width: 287px;
  padding: 64px 0;
  border-right: 7px solid #000000;
}

.information-item:not(:last-child) {
  margin-bottom: 34px;
}

.information-content-description {
  width: 460px;
}

.information-button {
  width: 160px;
}

.information-item-current {
  position: relative;
  background-color: #000000;
}

.information-item-current:focus-within {
  width: calc(100% - 4px);
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.information-button-current {
  background: none;
  color: #ffe17f;
  cursor: default;
}

.information-button-current::before {
  background: none;
}

.information-button-current:hover {
  background-color: transparent;
}

.information-button-current:focus {
  outline: none;
}

.information-button-current:active::before {
  background-color: transparent;
}

.information-content-item {
  display: none;
  padding: 73px 0 69px 116px;
}

.information-content-wrapper {
  margin-right: 98px;
}

.information-icon {
  display: block;
}

.information-icon-deliver {
  height: 164px;
  width: 136px;
  margin-top: 5px;
  background: url("../images/icons/delivery-content.svg") no-repeat 50% 50%;
}

.information-icon-guarantee {
  height: 195px;
  width: 171px;
  margin-top: -10px;
  background: url("../images/icons/guarantee-content.svg") no-repeat 50% 50%;
}

.information-icon-credit {
  height: 188px;
  width: 156px;
  margin-top: -7px;
  background: url("../images/icons/credit-content.svg") no-repeat 50% 50%;
}

.information-content-current {
  display: flex;
}

.information-icon-delivery {
  margin-top: 3px;
  margin-left: 98px;
}

.information-content-title {
  margin-bottom: 34px;
}

.order-delivery {
  margin-bottom: 118px;
}

.icon-delivery-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 125px;
  background-color: #ffe17f;
  transition: background-color 0.3s;
}

.icon-delivery-car {
  position: absolute;
  width: 47px;
  height: 31px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url("../images/icons/delivery-car.svg") no-repeat 50% 50%;
}

.icon-delivery-car::before {
  content: "";
  opacity: 0;
  position: absolute;
  border-radius: 3px;
  width: 3px;
  height: 3px;
  left: 14px;
  right: auto;
  top: 13px;
  background-color: #000000;
}

.icon-delivery-car::after {
  content: "";
  opacity: 0;
  position: absolute;
  border-radius: 3px;
  width: 3px;
  height: 3px;
  left: 18px;
  right: auto;
  top: 6px;
  background-color: #000000;
}

.order-delivery-button {
  position: relative;
  max-width: 1160px;
  display: block;
  font-family: "releway", "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  padding: 40px 150px 36px 150px;
  background-color: #f0f0f0;
  letter-spacing: 0.2em;
}

.order-delivery-button:hover .icon-delivery-car {
  background: url("../images/icons/delivery-car2.svg") no-repeat 50% 50%;
}

.order-delivery-button:hover .icon-delivery-car::before {
  width: 17px;
  right: 30px;
  opacity: 1;
  left: auto;
  transition: all 0.3s;
}

.order-delivery-button:hover .icon-delivery-car::after {
  width: 17px;
  right: 26px;
  opacity: 1;
  left: auto;
  transition: all 0.3s;
}

.order-delivery-button:hover .icon-delivery-wrapper {
  background-color: #ffc700;
}

.order-delivery-button:hover .icon-note {
  background-color: transparent;
  opacity: 1;
}

.order-delivery-button:focus {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.order-delivery-button:focus-visible {
  outline-offset: 0;
}

.order-delivery-button:active {
  opacity: 0.3;
}

.icon-note {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #cacaca url("../images/icons/info.svg") no-repeat 50% 50%;
  opacity: 0.3;
  border-radius: 50%;
  top: 50%;
  right: 42px;
  transition: background-color 0.3s;
  transform: translateY(-50%);
}

.contacts-container {
  padding-bottom: 65px;
}

.contacts-wrapper-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-us {
  width: 532px;
}

.about-us-title,
.contacts-title {
  position: relative;
  margin-bottom: 48px;
}

.about-us-title::before,
.contacts-title::before {
  content: "";
  position: absolute;
  top: -48px;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about-us-description {
  width: 497px;
  margin-bottom: 30px;
}

.about-us-list {
  margin-bottom: 25px;
}

.about-us-item:not(:last-child) {
  margin-bottom: 19px;
}

.about-us-link {
  display: block;
  position: relative;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  padding-left: 36px;
  letter-spacing: -0.02em;
  color: #000000;
}

.about-us-link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 1px;
  width: 8px;
  height: 8px;
  background-color: #ffc700;
  border-radius: 50%;
}

.about-us-button {
  width: 270px;
}

.contacts {
  width: 532px;
}

.contacts-button {
  width: 259px;
}

.contacts-subtitle {
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-description {
  margin-bottom: 30px;
  width: 500px;
}

.contacts-address {
  font-style: normal;
}

.contacts-work-time {
  margin: 0;
  margin-bottom: 25px;
}

.contacts-adress {
  font-style: normal;
}

.contacts-tel {
  display: inline-flex;
  color: inherit;
  margin-bottom: 30px;
}

.contacts-tel:hover {
  color: #ffc700;
}

.contacts-tel:focus {
  outline: 2px solid #af4fff;
}

.contacts-tel:active {
  color: #ffc700;
  opacity: 0.3;
}

.sunscribe {
  width: 100%;
  padding: 63px 0 56px;
  background-color: #f0f0f0;
}

.subscribe-title-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 113px;
}

.subsctibe-title {
  margin-left: 6px;
  max-width: 400px;
  margin-bottom: 30px;
}

.subscribe-desctiption {
  width: 553px;
  padding-right: 25px;
  margin-bottom: 30px;
}

.subscribe-form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe-form {
  display: flex;
}

.subscribe-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  position: relative;
  width: 557px;
  padding: 11px 18px 10px 18px;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  background-color: transparent;
}

.subscribe-input:hover {
  background-color: #dcdcdc;
  transition: background-color 0.3s ease;
}

.subscribe-input:focus {
  z-index: 1;
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.subscribe-input::placeholder {
  color: #444444;
  opacity: 0.5;
}

.subscribe-input:disabled {
  opacity: 0.3;
  background-color: transparent;
}

.subscribe-button {
  font-family: "releway", "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 15px 36px;
  color: #000000;
  border: 3px solid #c4c4c4;
  cursor: pointer;
  background-color: transparent;
}

.subscribe-button:hover {
  border: 3px solid #000000;
  color: #ffffff;
  background-color: #000000;
  transition: background-color 0.3s ease;
}

.subscribe-button:focus {
  z-index: 1;
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.subscribe-button:active {
  border: 3px solid transparent;
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.subscribe-button:disabled {
  opacity: 0.3;
  color: #000000;
  background-color: transparent;
  border: 3px solid #c4c4c4;
  cursor: default;
}

.subscribe-info {
  padding-left: 32px;
  background: url("../images/icons/check-mark.svg") no-repeat left 50%;
}

.page-footer {
  background-color: #444444;
  padding: 62px 0;
  color: #f0f0f0;
}

.footer-logo {
  display: block;
  width: 145px;
  height: 36px;
  color: #ffc700;
  margin-bottom: 35px;
  transition: opacity 0.3s ease;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:focus {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-menu {
  display: flex;
  margin-bottom: 47px;
  justify-content: space-between;
}

.footer-adress {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  min-width: 245px;
  max-width: 245px;
}

.footer-menu-list {
  display: flex;
  padding: 0 35px;
  flex-wrap: wrap;
}

.footer-menu-item:not(:last-child) {
  margin-right: 35px;
}

.footer-tel {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  color: inherit;
  line-height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -4px;
  min-width: 245px;
  max-width: 245px;
}

.footer-tel:hover {
  color: #ffc700;
}

.footer-tel:focus {
  outline: 2px solid #af4fff;
}

.footer-tel:active {
  color: #ffc700;
  opacity: 0.3;
}

.footer-menu-link {
  position: relative;
  color: inherit;
  font-family: "releway", "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 0;
  letter-spacing: 0.2em;
  margin-right: -0.2em;
}

.footer-menu-link::before {
  content: "";
  position: absolute;
  left: auto;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #ffc700;
  transition: all 0.3s;
}

.footer-menu-link:hover {
  color: #ffc700;
}

.footer-menu-link:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

.footer-menu-link:focus-visible {
  outline-offset: 0;
}

.footer-menu-link:focus {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.footer-menu-link:active {
  opacity: 0.3;
}

.footer-bottom-side {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.bottom-side-devider {
  display: block;
  margin-right: 35px;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
}

.footer-social-list {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-social-item:not(:last-child) {
  margin-right: 15px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.footer-social-link:hover {
  background-color: #ffc700;
  transform: rotate(360deg);
  transition: all 0.3s ease;
}

.footer-social-link:focus {
  outline: none;
}

.footer-social-item:focus-within {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.footer-social-link:active .social-icon {
  opacity: 0.3;
}

.social-icon {
  color: #444444;
}

.html-academy-logo {
  display: flex;
  color: #ffc700;
  border: 1px solid transparent;
}

.html-academy-logo:hover {
  transition: all 0.3s ease;
  color: #ffffff;
}

.html-academy-logo:focus {
  outline: 2px solid #af4fff;
}

.html-academy-logo:active {
  color: #ffffff;
  opacity: 0.3;
}

.catalog-header {
  padding: 36px 60px 0;
  margin-bottom: 29px;
}

.inner-title {
  margin-bottom: 10px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-link-current {
  cursor: default;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 16px;
  padding-right: 20px;
  background: url("../images/icons/breadcrumbs-arrow.svg") no-repeat right 12px;
}

.breadcrumbs-link {
  font-size: 16px;
  padding: 5px 0;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
}

.breadcrumbs-link:not(span):hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.breadcrumbs-link:not(span):active {
  opacity: 0.3;
}

.content-wrapper {
  background-color: #f0f0f0;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 320px 1fr;
}

.catalog-filter {
  padding: 25px 60px 0;
}

.catalog-sub-title {
  font-family: "releway", "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.filter-title {
  margin-bottom: 58px;
}

.filter-group {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-range {
  margin-bottom: 66px;
}

.filter-range-scale {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #dcdcdc;
}

.filter-range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.filter-toggle-wrapper {
  display: flex;
  position: absolute;
  top: -8px;
  flex-direction: column;
  align-items: center;
}

.filter-range-toggle {
  cursor: pointer;
  width: 18px;
  height: 18px;
  background-color: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  margin-bottom: 4px;
}

.filter-range-toggle:hover {
  border-color: #666666;
  transition: all 0.3s;
}

.filter-range-toggle:focus {
  outline: none;
}

.filter-range-toggle:focus::before {
  content: "";
  position: absolute;
  top: -2px;
  right: 50%;
  transform: translateX(50%);
  width: 22px;
  height: 22px;
  border-radius: 0;
  box-shadow: 0 0 0 2px #af4fff;
}

.filter-range-toggle:active {
  background-color: #000000;
  border-color: #000000;
}

.filter-range-label {
  display: flex;
  align-items: center;
  margin: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: #b3b3b3;
}

.filter-range-label:focus-within {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.filte-range-name {
  margin: 0;
  margin-right: 5px;
}

.label-max-price {
  right: 0;
  transform: translateX(50%);
}

.label-min-price {
  left: 0;
  transform: translateX(-50%);
}

.filter-range-input::-webkit-outer-spin-button,
.filter-range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.filter-range-input {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: #b3b3b3;
  background-color: transparent;
  border: none;
  padding: 0;
  -moz-appearance: textfield;
}

.filter-range-input:focus {
  outline: none;
}

.filter-infrastructure,
.filter-housing-type {
  margin-bottom: 34px;
}

.filter-group-title {
  width: 100%;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  padding: 12px 0 0 0;
  border-top: 2px solid #000000;
  margin-bottom: 20px;
}

.filter-range-title {
  margin-bottom: 28px;
}

.filter-item:not(:last-child) {
  margin-bottom: 17px;
}

.filter-list .bluetooth-item {
  margin-bottom: 20px;
}

.filter-control {
  display: flex;
  cursor: pointer;
  align-items: center;
  position: relative;
}

.filter-control:hover {
  opacity: 0.6;
  transition: opacity 0.3s;
}

.filter-control:focus-within .filter-control-mark::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: transparent;
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.filter-control:active {
  opacity: 0.3;
}

.filter-control-input:disabled~.filter-control-label,
.filter-control-input:disabled+.filter-control-mark {
  cursor: default;
  opacity: 0.1;
}

.filter-control-input[type="checkbox"]:checked+.filter-control-mark::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: url("../images/icons/filter-mark.svg") no-repeat;
  top: 6px;
  left: 5px;
}

.filter-control-input[type="checkbox"]:checked+.filter-control-mark {
  border-color: #000000;
}

.filter-control-input[type="radio"]+.filter-control-mark {
  border-radius: 50%;
}

.filter-control-input[type="radio"]:checked+.filter-control-mark {
  border-color: #000000;
}

.filter-control-input[type="radio"]:checked+.filter-control-mark::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}

.filter-control-label {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding-left: 16px;
}

.filter-control-mark {
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  border-radius: 3px;
  background-color: transparent;
}

.filter-button {
  width: 220px;
}

.sort-wrapper {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  max-width: 300px;
  line-height: 30px;
  border: none;
  padding: 0 32px 0 10px;
  margin-left: -10px;
  transition: opacity 0.3s;
  background-image: url("../images/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 11px center;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:focus {
  outline: 2px solid #af4fff;
}

.select-control:active {
  opacity: 0.3;
}

.sort-arrows {
  display: flex;
}

.arrow {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;
  opacity: 0.2;
  border: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  transition: opacity 0.3s;
}

.arrow-up {
  background: url("../images/icons/arrow-up.svg") no-repeat 50%;
}

.arrow-down {
  background: url("../images/icons/arrow-down.svg") no-repeat 50%;
}

.arrow:hover {
  opacity: 0.6;
}

.arrow:focus-within {
  outline: 2px solid #af4fff;
}

.arrow:active {
  opacity: 1;
}

.arrow:disabled {
  opacity: 0.1;
}

.catalog-card-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  row-gap: 44px;
  column-gap: 40px;
}

.cards {
  background-color: #ffffff;
  padding: 70px 40px 78px;
}

.cards-wrapper {
  margin-bottom: 44px;
}

.cards-wrapper-text {
  margin-bottom: 44px;
}

.catalog-card-item {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
}

.card-icon-new::after {
  display: block;
}

.card-img-wrapper::after {
  content: "";
  display: none;
  top: 27px;
  right: 27px;
  width: 60px;
  height: 60px;
  position: absolute;
  background: url("../images/icons/icon-card-new.svg") no-repeat;
}

.card-img-wrapper::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.catalog-card-item:hover .catalog-card-button {
  left: 50%;
  z-index: 2;
}

.catalog-card-item:hover .catalog-card-button-bg {
  right: 50%;
  z-index: 2;
}

.catalog-card-item:hover .card-text-wrapper {
  opacity: 0.6;
}

.catalog-card-item:hover .card-img-wrapper::before {
  opacity: 0.8;
}

.catalog-card-item:focus-within {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.catalog-card-item:active .card-text-wrapper {
  opacity: 0.3;
}

.catalog-card-item:active .catalog-card-button-bg {
  background-color: #ffc700;
}

.catalog-card-link {
  font-family: inherit;
  font-size: 18px;
  letter-spacing: -0.02em;
  text-decoration: none;
  margin: 0;
}

.catalog-card-link:focus {
  outline: none;
}

.card-img-wrapper {
  position: relative;
  margin-bottom: 32px;
}

.catalog-card-img {
  display: block;
  min-height: 380px;
  margin: 0;
}

.catalog-card-button {
  position: absolute;
  width: 220px;
  text-align: center;
  color: #000000;
  top: 50%;
  left: -220px;
  transform: translateY(-50%) translateX(-50%);
  transition: all 0.3s;
}

.catalog-card-button-bg {
  content: "";
  position: absolute;
  height: 8px;
  width: 220px;
  background-color: #ffe17f;
  top: 50%;
  right: -220px;
  transform: translateY(-50%) translateX(50%);
  transition: all 0.3s;
}

.card-text-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  transition: opacity 0.3s;
}

.catalog-card-title {
  font-size: 18px;
  max-width: 205px;
  line-height: 20px;
  color: #000000;
  margin: 0;
}

.catalog-card-price {
  line-height: 21px;
  color: #444444;
}

.cards-button-more {
  cursor: pointer;
  width: 100%;
  font-family: "releway", "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  border: 3px solid #e5e5e5;
  background-color: transparent;
  padding: 15px;
  margin-bottom: 44px;
  transition: border-color 0.3s ease;
}

.cards-button-more:hover {
  border-color: #000000;
}

.cards-button-more:focus {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.cards-button-more:active {
  color: #b3b3b3;
  border-color: #b3b3b3;
}

.cards-button-more:disabled {
  color: #000000;
  border-color: #e5e5e5;
  opacity: 0.3;
}

.cards-pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #ebebeb;
}

.cards-pagination-item:first-child {
  margin-right: auto;
}

.cards-pagination-item:last-child {
  margin-left: auto;
}

.item-number:not(:nth-last-child(2)) {
  margin-right: 12px;
}

.cards-pagination-text {
  display: flex;
  font-family: "releway", "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  padding: 25px;
  transition: background-color 0.3s ease;
}

.cards-pagination-text:not(.cards-pagination-text-current):hover {
  background-color: #dcdcdc;
}

.cards-pagination-text:focus {
  outline: 2px solid #ffffff;
  box-shadow: 0 0 0 4px #af4fff;
  outline-offset: 0;
}

.cards-pagination-text:not(.cards-pagination-text-current):active {
  background-color: #dcdcdc;
  color: #9a9a9a;
}

.cards-pagination-text-current {
  color: #9a9a9a;
  cursor: default;
}

.cards-pagination-number {
  height: 28px;
  min-width: 28px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  color: #444444;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.pagination-dots {
  cursor: default;
}

.cards-pagination-number:not(span):hover {
  opacity: 1;
}

.cards-pagination-number:focus {
  outline: none;
}

.cards-pagination-item:focus-within {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.cards-pagination-number:not(span):active {
  opacity: 0.1;
}

.cards-pagination-number-current {
  opacity: 0.6;
}

.button-inactive {
  opacity: 0.3;
}

.cards-pagination-dots {
  color: #b9b9b9;
}

.modal-container {
  position: fixed;
  z-index: 3;
  display: none;
  /* для активации модального окна "none" заменить на "flex"*/
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
}

.modal {
  position: relative;
  margin: auto;
  width: 920px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.1);
  border: 10px solid #000000;
  padding: 62px 70px;
}

.modal-title {
  margin-bottom: 42px;
}

.modal-input-wrapper {
  display: flex;
  margin-bottom: 42px;
}

.modal-input-wrapper:first-child {
  margin-bottom: 62px;
}

.modal-lebel {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.02em;
}

.modal-input {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  background-color: #f0f0f0;
  border: none;
  padding: 20px 50px 20px 20px;
  transition: background-color 0.3s ease;
}

.modal-input::placeholder {
  opacity: 0.3;
}

.modal-input:hover {
  background-color: #dcdcdc;
}

.modal-input:focus {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
  z-index: 2;
}

.modal-input:disabled,
.modal-input:disabled+.modal-input-icon {
  opacity: 0.3;
}

.modal-input-icon {
  position: absolute;
  top: 58px;
  right: 20px;
}

.mistake-border {
  outline: 2px solid #ff3d3d;
  outline-offset: -2px;
}

.mistake-message {
  position: relative;
}

.mistake-message::before {
  content: "Забавный у вас адрес";
  color: #ff3d3d;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  bottom: -22px;
}

.modal-input-email,
.modal-input-name {
  width: 360px;
}

.modal-lebel-name,
.modal-lebel-email,
.modal-lebel-things {
  margin-bottom: 14px;
}

.modal-input-things {
  width: 540px;
}

.modal-input-amount {
  width: 60px;
  padding: 20px 10px;
  text-align: center;
  -moz-appearance: textfield;
}

.modal-input-amount::-webkit-inner-spin-button,
.modal-input-amount::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-input-amount:hover,
.modal-input-amount:focus {
  -moz-appearance: number-input;
}

.modal-input-group {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-input-group:not(:last-child) {
  margin-right: 40px;
}

.modal-amount-group {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.amount-button {
  cursor: pointer;
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #f0f0f0;
  border: none;
  transition: background-color 0.3s ease;
}

.amount-button::before,
.amount-button::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #000000;
}

.amount-button-plus::after {
  transform: rotate(90deg) translateY(8px) translateX(-1px);
}

.amount-button:hover {
  background-color: #ebebeb;
}

.amount-button:hover::after,
.amount-button:hover::before {
  background-color: #5e5e5e;
}

.amount-button:focus {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.amount-button:active::after,
.amount-button:active::before {
  background-color: #a8a8a8;
}

.amount-button:disabled {
  opacity: 0.3;
  cursor: default;
}

.amount-button:disabled::after,
.amount-button:disabled::before {
  background-color: #000000;
}

.modal-button-faq {
  background-color: #ffe17f;
  position: relative;
  cursor: pointer;
  border: none;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-button-faq:focus-visible {
  outline: none;
}

.modal-button-faq:focus::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 0;
  border: none;
  outline: none;
  box-shadow: 0 0 0 2px #af4fff;
}

.modal-tooltip-group {
  display: flex;
  align-items: center;
  margin-top: -2px;
  margin-bottom: 10px;
}

.modal-lebel-amount {
  margin-right: 8px;
}

.modal-tooltip-container {
  position: relative;
}

.modal-tooltip-container:hover .modal-tooltip-content,
.modal-tooltip-container:focus-within .modal-tooltip-content {
  display: block;
}

.modal-tooltip-content {
  display: none;
  position: absolute;
  z-index: 2;
  top: 20px;
  right: -30px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  width: 200px;
  padding: 19px;
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.1);
}

.modal-tooltip-content::before {
  content: "";
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  position: absolute;
  top: -5px;
  right: 38px;
  background-color: #000000;
}

.modal-button {
  width: 200px;
}

.modal-close-button {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  align-content: center;
  background-color: transparent;
  border: none;
  top: 71px;
  right: 68px;
  width: 31px;
  height: 31px;
  padding: 0;
  transition: all 0.2s ease;
}

.modal-close-button::before,
.modal-close-button::after {
  position: absolute;
  content: "";
  width: 32px;
  height: 3px;
  background-color: #000000;
  transform: rotate(45deg);
}

.modal-close-button::after {
  transform: rotate(-45deg);
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:focus {
  outline: 2px solid #af4fff;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:disabled {
  opacity: 0.1;
  cursor: default;
}
